 @import './variables';

 .riichi-tile-icon {
  background: url('../assets/tile-icons-sprite.png') no-repeat top left;
  width: $defaultTileIconWidth;
  height: $defaultTileIconHeight;
  display: block;
  box-sizing: border-box;
}
.riichi-tile-icon--1m {
  background-position: 0 0;
}
.riichi-tile-icon--2m {
  background-position: 0 -79px;
}
.riichi-tile-icon--3m {
  background-position: 0 -158px;
}
.riichi-tile-icon--4m {
  background-position: 0 -237px;
}
.riichi-tile-icon--5m {
  background-position: 0 -316px;
}
.riichi-tile-icon--6m {
  background-position: 0 -395px;
}
.riichi-tile-icon--7m {
  background-position: 0 -474px;
}
.riichi-tile-icon--8m {
  background-position: 0 -553px;
}
.riichi-tile-icon--9m {
  background-position: 0 -632px;
}
.riichi-tile-icon--1p {
  background-position: 0 -711px;
}
.riichi-tile-icon--2p {
  background-position: 0 -790px;
}
.riichi-tile-icon--3p {
  background-position: 0 -869px;
}
.riichi-tile-icon--4p {
  background-position: 0 -948px;
}
.riichi-tile-icon--5p {
  background-position: 0 -1027px;
}
.riichi-tile-icon--6p {
  background-position: 0 -1106px;
}
.riichi-tile-icon--7p {
  background-position: 0 -1185px;
}
.riichi-tile-icon--8p {
  background-position: 0 -1264px;
}
.riichi-tile-icon--9p {
  background-position: 0 -1343px;
}
.riichi-tile-icon--1s {
  background-position: 0 -1422px;
}
.riichi-tile-icon--2s {
  background-position: 0 -1501px;
}
.riichi-tile-icon--3s {
  background-position: 0 -1580px;
}
.riichi-tile-icon--4s {
  background-position: 0 -1659px;
}
.riichi-tile-icon--5s {
  background-position: 0 -1738px;
}
.riichi-tile-icon--6s {
  background-position: 0 -1817px;
}
.riichi-tile-icon--7s {
  background-position: 0 -1896px;
}
.riichi-tile-icon--8s {
  background-position: 0 -1975px;
}
.riichi-tile-icon--9s {
  background-position: 0 -2054px;
}
.riichi-tile-icon--1z {
  background-position: 0 -2291px;
}
.riichi-tile-icon--2z {
  background-position: 0 -2370px;
}
.riichi-tile-icon--3z {
  background-position: 0 -2449px;
}
.riichi-tile-icon--4z {
  background-position: 0 -2528px;
}
.riichi-tile-icon--6z {
  background-position: 0 -2133px;
}
.riichi-tile-icon--5z {
  background: none;
}
.riichi-tile-icon--7z {
  background-position: 0 -2212px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .riichi-tile-icon:not(.riichi-tile-icon--5z) {
      background-image: url('../assets/tile-icons-sprite.2x.png');
      background-size: 58px 2607px;
  }
}