.riichi-tile-group {
  display: flex;
  align-items: flex-end;

  &.riichi-tile-group--stacked {
    &:not(:last-child) {
      .riichi-tile.riichi-tile--sided {
        margin-right: calc((($defaultTileHeight - $defaultTileWidth) / 2) - 2px);
        &.riichi-tile--small {
          margin-right: calc((($smallTileHeight - $smallTileWidth) / 2));
        }
        &.riichi-tile--x-small {
          margin-right: calc((($xSmallTileHeight - $xSmallTileWidth) / 2) - 1px);
        }
      }
    }

    .riichi-tile:not(:last-child) {
      margin-bottom: -2px;
      &.riichi-tile--small {
        margin-bottom: -1px;
      }
      &.riichi-tile--x-small {
        margin-bottom: -1px;
      }
    }
  }

  &:not(.riichi-tile-group--stacked) {
    .riichi-tile:not(:last-child):not(.riichi-tile--sided) {
      margin-right: -2px;

      &.riichi-tile--small {
        margin-right: -1px;
      }
      &.riichi-tile--x-small {
        margin-right: -1px;
      }
    }

    .riichi-tile.riichi-tile--sided:not(:last-child) {
      margin-right: calc((($defaultTileHeight - $defaultTileWidth) / 2) - 2px);

      &.riichi-tile--small {
        margin-right: calc(($smallTileHeight - $smallTileWidth) / 2);
      }
      &.riichi-tile--x-small {
        margin-right: calc((($xSmallTileHeight - $xSmallTileWidth) / 2) - 1px);
      }
    }
  }
}

.riichi-tile-group--stacked {
  flex-direction: column;
}